@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0%, 100% { transform: scaleY(0.4); }
  50% { transform: scaleY(1); }
}

.animate-wave-1 {
  animation: wave 1s infinite ease-in-out;
}
.animate-wave-2 {
  animation: wave 1s infinite ease-in-out 0.15s;
}
.animate-wave-3 {
  animation: wave 1s infinite ease-in-out 0.3s;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.4s ease-out;
}
